body {
    margin: 0;
}

#root {
    max-width: 80ch;
    margin: auto;
}

#main {
    display: flex;
    height: 80vh;
}

.color {
    flex: 1;

    display: flex;
    align-items: flex-end;
}

.color-code {
    width: 100%;
    padding: 1rem;
    background-color: white;
    text-align: center;
    cursor: pointer;
}

.header {
    padding: 25px;
    display: flex;
    gap: 1rem;
    justify-content: center;
}


